
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#background {
  background-image: url("./assets/background.jpg");
}

// id div title

#idDiv{
  padding: 5vh;
}
// id title
#idTitle {
  font-weight: bold;
  padding: 10px;
  font-size: larger;
  color: rgb(17, 188, 255);
  border: 2px solid rgb(17, 188, 255);
  border-radius: 30px;
  background-color: white;

}

#idButton {
  color: white;
  font-weight: bold;
  background-color: rgb(17, 188, 255);
  border-radius: 30px;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;

  &:hover {
    background-color: rgb(13, 172, 235);
  }
}
#idHover {
  color: #000;
  display: inline-block;
  position: relative;
  transition: color 0.4s;
  z-index: 1;
  padding: 10px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fbbf24;
    border-radius: 30px;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: 0.4s;
    padding: 15px;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      transform: scaleX(1);
    }
  }
}




//text title menu 3d 
.text3d{

    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,

    1px 12px 6px rgba(16,16,16,0.4),
    1px 14px 10px rgba(16,16,16,0.2),


}
//text title
.p {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 3vw;
  text-shadow: -15px 5px 20px #ced0d3;
  padding-bottom: 3vw;
  letter-spacing: 0.02em;
  text-align: center;
  color: #262626;

}

