#BoxGlobalMainDepartDetail {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  margin-left: 5px;
  width: 80%;
}

#BoxChildMainDepartDetail {
  min-width: 100%;
  height: auto;
  transition: 0.5s;
  overflow-x: hidden;
  
}
#ImageMainDepartDetail {
  width: 100%;
  height: 65vmin;
  border-radius: 2px;
  display: block;
  &:hover {
    cursor: zoom-in;
  }
}

#BoxGlobalSubDepartDetail {
  width: 20%;
  height: 65vmin;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
  &:hover {
    cursor: pointer;
  }
}

#BoxChildSubDepartDetail {
  margin-right: 5px;

  transition: 0.5s;
  padding-bottom: 3px;
}

#ImageSubDepartDetail {
  width: 100%;
  height: 15vmin;
  display: block;
  border-radius: 2px;

}

#movePre {
  position: absolute;
  top: 40%;
  left: 0;
  width: 10%;
  height: 10%;
  color: rgb(255, 255, 255);
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}
#moveNext {
  position: absolute;
  top: 40%;
  right: 0;
  width: 10%;
  height: 10%;
  color: rgb(255, 255, 255);
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}
